<div class="chat chat">
  <h2 class="titulochat nomov">Chat</h2>
  <h2 class="bienvenido nomov center" style="font-family: Calibri">Bienvenido, {{ usuario?.displayName }}</h2>

  <mat-card class="example-card chat">
      <mat-card-header class="nomov">
        <div mat-card-avatar class="example-header-image" [style.background-image]="'url(' + usuario?.photoURL + ')'"></div>
        <mat-card-title>{{ usuario?.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ usuario?.email }}</mat-card-subtitle>
      </mat-card-header>

      <div class="row enmov chat">
          <div class="col-10">
          <mat-form-field class="example-full-width">
          <input matInput placeholder="Escribe tu mensaje y pulsa intro o el botón" (keyup.enter)="enviarMensaje()" [(ngModel)]="textoMensaje"/>
          </mat-form-field>
          </div>

          <div class="col-2">
          <button mat-fab title="Enviar" (click)="enviarMensaje()">
          <mat-icon>send</mat-icon>
          </button>
          </div>
        </div>
    </mat-card>
