<h1 class="titulo2">Chat</h1>
<div class="form-container">
  <h1 style="font-family: Calibri">Bienvenido, {{ usuario?.displayName }}</h1>
</div>

<div class="form-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div
        mat-card-avatar
        class="example-header-image"
        [style.background-image]="'url(' + usuario?.photoURL + ')'"
      ></div>
      <mat-card-title>{{ usuario?.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ usuario?.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <img mat-card-image src="" />
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Escribe tu mensaje y pulsa intro o el botón"
          (keyup.enter)="enviarMensaje()"
          [(ngModel)]="textoMensaje"
        />
      </mat-form-field>
      <button mat-fab title="Enviar" (click)="enviarMensaje()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
