<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 columna1">

      <h2 class="titulo">SALAS</h2>
      <ul>
        <li *ngFor="let sala of salas; item in relleno" (click)="getMensajes(sala)" class="" [style]="sala.style">
        <a data-text ="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#11013;" >&nbsp;{{sala.nombre}}&nbsp;</a>
        </li>
      </ul>
    </div>

    <div class="col-12  col-md-4 columna2">

      <h2 class="titulosala">Estas en: {{sala.nombre | uppercase }}</h2>

      <div class="overflow-auto altura">
        <div *ngFor="let mensaje of mensajes" class="mensajes">
          <img [src]="mensaje.avatar?mensaje.avatar:'./assets/noavatar.png'" class="imgmsj">
          <span class="usuariomsj"> {{mensaje.usuario}}<br></span>
          <span class="usuariotime">{{ mensaje.fechaHora.seconds * 1000 | date: 'dd/MM/yyyy HH:mm' }}<br></span>
          <span class="textomsj"> {{mensaje.texto}}</span>
        </div>
      </div>

    </div>

    <div class="col-12  col-md-4 columna3">
      <div class="overflow-auto conectados">
        <h2 class="titulo2" >Usuarios conectados</h2>
        <app-usuarios></app-usuarios>
      </div>

      <div class="chat">
        <app-chat></app-chat>
        <div class="row botones">
          <div class="col-md">
          <!-- Botón Cerrar sesión-->
          <nav class=" ">
          <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-danger out" type="submit" title="Cerrar sesión" (click)="logout()">Cerrar sesión</button>
          </form>
          </nav>
          </div>

          <div class="col-md">
          <!-- Botón modo oscuro-->
          <p class="textoboton">Cambiar modo</p>
          <form>
            <input id="dark-mode" class="toggle2" type="checkbox" name="Dark mode" role="switch" value="on">
            <label for="dark-mode" class="sr">Dark Mode</label>
            <div class="curtain"></div>
          </form>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


