.container {
  margin-top: 2%;
}

/* .salas {
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  height: 500px;
  align-items: center;
} */

.salas {
  height: 300px;
  color: #fff;
  font-size: 2em;
}

.nombresala {
  font-size: 2.5em;
}

.titulo {
  margin-top: 5%;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 10%;
}

.titulo2 {
  margin-top: 5%;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.titulosala {
  font-size: 2em;
  text-align: center;
}

/*NOMBRES DE LAS SALAS*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
}

.columna1 {
  background: #252839;
  padding: 1%;
}

.columna2 {
  background-color: bisque;
  padding: 1%;
}

.conectados {
  background-color: darkcyan;
  height: 40%;
  border: 3px solid #000;
}

.chat {
  background-color: antiquewhite;
  height: 60%;
  border: 3px solid #000;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}

form-inline .logout {
  left: 40%;
  right: 40%;
}

.imgmsj {
  width: 30px;
  height: 30px;
}

.textomsj {
  font-size: 1.2em;
  color:blueviolet;
  float: right;
}
 .botones {
   margin-top: 10%;
 }

 .out {
   border: 2px solid #000;
   position: relative;
   left: 40%;
   right: 40%;
   padding: 3px;
 }
