.salas {
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  height: 500px;
  align-items: center;
}

.nombresala {
  font-size: 2.5em;
}

.titulo {
  margin-top: 5%;
  font-size: 5em;
  font-weight: 600;
  text-align: center;
}
