.container {
  margin-top: 5%;
}

.salas {
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  height: 500px;
  align-items: center;
}

.nombresala {
  font-size: 2.5em;
}

.titulo {
  margin-top: 5%;
  font-size: 5em;
  font-weight: 600;
  text-align: center;
}

.titulosala {
  font-size: 2em;
  text-align: center;
}

/*NOMBRES DE LAS SALAS*/
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
ul li {
  position: relative;
  list-style: none;
}
ul li a {
  font-size: 4em;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr))
}
