body {
  font-family: 'Roboto', sans-serif;
  margin: 0px !important;
  overflow: hidden;
}
.add-btn {
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.titulo {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
}

/** form **/
.form-wraper {
  width: 100%;
  /*position: relative;*/
}

/** form header **/
.form-header {
  padding: 18px 0;
}
.form-title {
  text-align: center;
  font-weight: 200;
  font-size: 2.5em;
}
.main-lock-icon {
  width: 10%;
  margin: 5px auto;
  display: block;
}

/** form body **/
.form-body {
  padding: 0 18px;
}

.form-input {
  margin-top: 18px;
}

/** form footer **/
.form-footer {
  width: 100%∫;
}
.btn {
  width: 100%;
  padding: 3% !important;
  font-size: 0.8em;
  font-weight: 200;
  margin-top: 15px;
}
.custom-btn {
  margin-bottom: 15px;
  background: #1e8000;
  color: #fff;
}

.custom-btn2 {
  margin-bottom: 15px;
  background: #d15e00;
  color: #fff;
}

.custom-btn3 {
  margin-bottom: 15px;
  background: #868686;
  color: #fff;
}

.google-icon {
  width: 8%;
}
.txt {
  text-align: center;
  color: #333;
  margin: 10px auto !important;
}
.hazteuna {
  padding: 5px auto;
  text-align: center;
  font-size: 1.2em;
  margin-top: 5%;
  margin-bottom: 5%;
}
.subtitulo {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(42, 125, 219);
}

/* Borde interactivo del formulario*/
.gradient-border {
  font-size: 24px;
  border:10px solid black;
  padding: 1rem 1rem;
  min-height: 1em;
  resize: both;
  background: #ffffff;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.centered {
  margin: auto;
  width: 50%;
  padding: 10px;
}
