body {
  font-family: 'Roboto', sans-serif;
  margin: 0px !important;
  overflow: hidden;
}
.add-btn {
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.titulo {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
}

/** form **/
.form-wraper {
  width: 100%;
  /*position: relative;*/
}

/** form header **/
.form-header {
  padding: 18px 0;
}
.form-title {
  text-align: center;
  font-weight: 200;
  font-size: 2.5em;
}
.main-lock-icon {
  width: 10%;
  margin: 5px auto;
  display: block;
}

/** form body **/
.form-body {
  padding: 0 18px;
}
.justifier {
  width: 100%;
}
.form-input {
  margin-top: 18px;
}

/** form footer **/
.form-footer {
  padding: 24px;
  display: block;
  width: 100%∫;
}
.btn {
  width: 48%;
  padding: 3% !important;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 15px;
}
.custom-btn {
  margin-bottom: 15px;
  background: #1e8000;
  color: #fff;
}

.custom-btn2 {
  margin-bottom: 15px;
  background: #d15e00;
  color: #fff;
}

.custom-btn3 {
  margin-bottom: 15px;
  background: #868686;
  color: #fff;
}

.google-icon {
  width: 10%;
}
.txt {
  text-align: center;
  color: #333;
  margin: 10px auto !important;
}
.additional-link {
  padding: 10px auto;
  text-align: center;
}
.subtitulo {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(42, 125, 219);
}
