body {
  font-family: 'Roboto', sans-serif;
  margin: 0px !important;
  overflow: hidden;
}
.add-btn {
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.titulo {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
}


/** form **/
.form-wraper {
  width: 100%;
  /*position: relative;*/
}
.form-container {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 24px !important;
  display: block;
  background: rgb(253, 253, 253);
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/** form header **/
.form-header {
  padding: 24px 0;
}
.form-title {
  text-align: center;
  font-weight: 200;
  font-size: 2.5em;
}
.main-lock-icon {
  width: 20%;
  margin: 5px auto;
  display: block;
}

/** form body **/
.form-body {
  padding: 0 24px;
}
.justifier {
  width: 100%;
}
.form-input {
  margin-top: 24px;
}

/** form footer **/
.form-footer {
  padding: 24px;
  display: block;
  width: 100%∫;
}
.btn {
  width: 48%;
  padding: 3% !important;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 15px;
}
.custom-btn {
  margin-bottom: 15px;
  background: #1e8000;
  color: #fff;
}

.custom-btn2 {
  margin-bottom: 15px;
  background: #d15e00;
  color: #fff;
}

.custom-btn3 {
  margin-bottom: 15px;
  background: #868686;
  color: #fff;
}

.google-icon {
  width: 15%;
}
.txt {
  text-align: center;
  color: #333;
  margin: 10px auto !important;
}
.additional-link {
  padding: 10px auto;
  text-align: center;
}
.subtitulo {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(42, 125, 219);
}
